*{
    margin: 0%;
    padding: 0%;
}
body{
    background:radial-gradient(rgba(72, 72, 184, 0.8),rgba(30, 5, 65, 0.856));
}    
.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap:wrap;
}
.one{
    width: 50%;
    height: 100%;
}
.two{
    width: 50%;
    height: 100%;
}
.one1{
    height: 50%;
    width: 100%;
    
}
.one2{
    height: 50%;
    width: 100%;
}
.rec{
    margin-left: 45%;
    height: 80px;
    width: 30px;
    background-color: rgb(226, 163, 86);
}
.text{
    text-align: center;
    color: antiquewhite;
    font-size: 3rem;
    font-weight: 700;
}
.c1{
    margin: 5% 0 0 15%;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: rgba(133, 141, 184, 0.438);
    display: flex;
    justify-content: center;
}
.c2{
    margin-top: 6%;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: rgb(199, 162, 108);
    display: flex;
    justify-content: center;
}
.c3{
    margin-top: 8%;
    width: 235px;
    height: 235px;
    border-radius: 50%;
    background-color: rgb(189, 182, 173);
}
.two1{
    margin-top: 30px;
    display: flex;
    color: white;
    justify-content: space-around;
}
.two1 h1{
    color: rgb(202, 148, 82);
}
.two1 a{
    text-decoration: none;
    color: rgb(190, 139, 77);
}
.two{
    color: aliceblue;
}
.two h2{
 margin-top: 50px;   
 font-size: 35px;
 font-weight: 700;
}
.name{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.email{
    margin-top: 15px;
    display: flex;
    gap: 20px;    
}
.pass{
    margin-top: 15px;
    display: flex;
    gap: 20px;
}
.two2 input{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    margin-top: 5px;
}
.terms{
    margin-top: 15px;
}
.terms a{
    color:  rgb(190, 139, 77);
}
.terms input{
    height: 17px;
    width: 17px;

}
.create {
    margin-top: 20px;
    background-color: rgb(196, 158, 112);
    color: aliceblue;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.another{
    margin-top: 10px;
    display: flex; 
    gap: 20px;
}
.another button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.another button i{
    color: blue;
    font-size: 1rem;
}
 button a{
    text-decoration: none;
    color: black;
}
.footer{
    margin-top: 50px;
}
@media (max-width:400px) {
    .container{
        display: grid;
        text-align: center;
    }
    .name{
    
        text-align: center;
        display: grid;
    }
    .email{

        text-align: center;
        display: grid;
    }
    .pass{

        text-align: center;
        display: grid;
    }
    .another{
    
        text-align: center;
        display: grid;
    }
    .text{
        margin-left: 50%;
    }
    .two2{
        margin-left: 40%;
    }
}
